## Visual Studio
.vs/
*.user
*.suo

## Build results
**/bin/
**/obj/

## .NET MAUI específicos
*.apk
*.aab
*.ipa

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

# api de news
News/News/Settings.cs
PatriarcaHomes02/PatriarcaHomes02/Configuration/ApiConstants.cs